@font-face {
    font-weight: bold;
    font-family: 'Ubuntu';
    font-style: normal;
    src: url('~@fonts/Ubuntu-B.ttf') format('truetype');
}

@font-face {
    font-weight: 300;
    font-family: 'Ubuntu';
    font-style: normal;
    src: url('~@fonts/Ubuntu-R.ttf') format('truetype');
}
